{% extends 'base.html' %}

{% block content %}

<h1 class="user-title">LOGIN</h1>
<div class="user-form-container">
  <form method="POST">
      {{ form.hidden_tag() }}

      {% for field in form 
          if field.widget.input_type != 'hidden'
          %}

          <p>
            <label class="user-label">{{ field.label.text }}</label>
              {{field}}
  
              {% for error in field.errors %}
                  {{error}}
              {% endfor %}
          </p>
      {% endfor %}
      <button> LOGIN </button>
  </form>
</div>

{% endblock %}