{% extends 'base.html' %}

{% block content %}

<h1>Register</h1>

<div>
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden'
            %}

            <p>
                {{field.label}}
                {{field}}
    
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </p>
        {% endfor %}
        <button> Create Account </button>
    </form>
</div>

{% endblock %}